@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Work+Sans:wght@300;500&display=swap');

.greentext{
	color: #406550
}

.bluetext{
	color: #1F3145
}
.blueback{
	background-color: #1F3145;
	background: #1F3145;
}
.orangetext{
	color: #CB742C;
}
.orangeback{
	background-color: #CB742C;
	background: #CB742C;
}
.yellowtext{
	color: #E4BA54
}
.yellowback{
	background-color: #E4BA54;
	background: #E4BA54;
}
.greytext{
	color: #6a6a6a
}
.greyback{
	background-color: #6a6a6a;
	background: #6a6a6a;
}
.blacktext{
	color: #2d2f2c
}
.blackback{
	background-color: #2d2f2c;
	background: #2d2f2c;
}
.greytext{
	color: #eaeaea
}
.greyback{
	background-color: #eaeaea;
	background: #eaeaea;
}

.seriffont{
font-family: 'Playfair Display', serif !important;
    font-style: normal !important;
}

.subheadlinefont{
font-family: 'Work Sans', sans-serif !important;
	    font-style: normal !important;
font-weight: 500;
}

.bodyfont{
font-family: 'Work Sans', sans-serif !important;
	    font-style: normal !important;
font-weight: 300;
}

.mobile-grid-3 img{
max-width: 100%;
} 

@media screen and (min-width:1024px) {
.mobile-grid-3{
    width: 33.33% !important;
    display: inline-block;
} 
}

@media screen and (min-width:768px) and (max-width: 1023px){
.mobile-grid-3{
width: 50%;
display: inline-block;
}  
}
@media screen and (max-width:767px) {
.mobile-grid-3{
width: 100%;	
display: inline-block;
}               
}
